<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.system.mapper.LogiCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="logiCompanyResultMap" type="com.mtl.system.domain.LogiCompany">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
    </resultMap>


    <select id="getLogiCompany" resultMap="logiCompanyResultMap">
        select * from mtl_logi_company
    </select>

</mapper>
